/* Add CSS Styling */
.first_btn,
.second_btn {
    font-size: 28px;
    font-family: "Helvetica", 'Times New Roman', sans-serif;
}

.first_btn {
    background-color: black;
    color: white;
}

.second_btn {
    background-color: yellow;
}